<div class="subscribe">
<a style="display:block" class="viewall" href="/all">
    View All Posts
</a>
<div id="mc_embed_signup" style="background:black;padding:10px;">
        <h1>Don't forget to sign up for the newsletter!</h1>
<form action="http://ideadrops.us7.list-manage.com/subscribe/post?u=9ff67b3252cf627cdce2a8c42&amp;id=0d71e6fdfc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">

<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your email here!" required>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>
<br>
<div class="footer">Crafted with love &nbsp;<i class="ion ion-heart"></i> <br>
© 2015 <a class="footerTitle" href="/">read|less</a> - <a href="/about">About</a> - <a href="/authors">Contributers</a> - <a href="/contact">Contact</a> - <a href="/volunteer">Apply to be a volunteer.</a>
    <br>
    <a class="social" href="http://facebook.com/readlessmedia"><i class="ion ion-social-facebook"></i> Facebook</a> -
    <a class="social" href="http://twitter.com/readlessmedia"><i class="ion ion-social-twitter-outline"></i> Twitter</a>
</div>
