{% include meta.html %}
</head>

<body>
<div class="navbar">&nbsp;</div>
<div class="title"><a href="/">read|less</a></div>
<div class="date">{{ page.date | date: "%A, %B %-d, %Y" }}</div>
<div class="categories toggle-menu menu-right">categories <i class="ion ion-chevron-down"></i></div>
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right">
    <div class="push-bg">
	<a href="#headlines">Today's Headlines</a>
	<a href="#politics">Politics</a>
    <a href="#technology">Technology</a>
    <a href="#science">Science</a>
	<a href="#culture">Culture</a>
	<a href="#entertainment">Entertainment</a>
</nav>
        </div>
