<!DOCTYPE html>
<html>
    <head>
      {% include header.html %}
        {{ content }}
      {% include footer.html %}
      <!--load jQuery, required-->
  <script src="/js/jquery-2.1.3.min.js"></script>
  <!--load jPushMenu, required-->
  <script src="/js/jPushMenu.js"></script>

  <!--call jPushMenu, required-->
  <script>
  jQuery(document).ready(function($) {
    $('.toggle-menu').jPushMenu();
  });
  </script>

  <script>
  $(window).load(function(){
    $("#mc_embed_signup").sticky({ topSpacing: 0 });
  });
  </script>
    </body>
</html>
