---
layout: default
---

<a class="anchor" id="top"></a>
<div class="topcontainer">
    <h1>Your News, Just Simpler.</h1>

    <div id="mc_embed_signup">
<form action="http://ideadrops.us7.list-manage.com/subscribe/post?u=9ff67b3252cf627cdce2a8c42&amp;id=0d71e6fdfc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">

    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Sign up for the daily email digest!" required>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

    </div>
    <div class="sections">

        <!-- Headlines -->
        <div class="headlines">
            <a class="anchor" id="headlines"></a>
            <h1>Today's Headlines</h1>
            <div class="summary">The most important news of the day.</div>
            <div class="posts">
            <h2>
                <br>
                <p class="border">

                <p>{{ page.top1 }}</p>
                <p class="source">source: <a href="{{ page.top1-link }}">{{ page.top1-src }}</a></p>

                <p>Llamas run wild throughout an Arizona city. Eventually get caught after a 20 minute terror spree.</p>
                <p class="source">source: yahoo</p>
                <p>Lupita Nyong’o Oscar dress worth $150,000 stolen. Police are looking over security tapes and interviewing hotel employees.</p>
                <p class="source space">source: <a href="/">yahoo</a>, <a href="/">cnn</a>, <a href="/">msnbc</a>.
                </p>

                </p>

            </h2>
            <div class="clear">&nbsp;</div>
           </div>
        </div>
        <!--- Politics -->
             <a class="anchor" id="politics"></a>
        <div class="politics">
            <h1>Politics</h1>
            <br>
            <div class="summary">/ˈpäləˌtiks/ - the activities associated with the governance of a country or other area, especially the debate or conflict among individuals or parties having or hoping to achieve power.</div>
            <div class="posts">
            <h2 style="border-color:#333;">
                <br>
                <p>FCC votes in favor of the &quot;open internet&quot; by reclassifying the internet as a utility in groundbreaking vote. Net Neutrality lives on.</p>
                <p class="source">source: yahoo</p>
                <p>Llamas run wild throughout an Arizona city. Eventually get caught after a 20 minute terror spree.</p>
                <p class="source">source: yahoo</p>
                                <p>“Republic senator ___ ___ is quoted in saying “Women deserve to be treated lesser than men” in response to a recent women’s rights bill in the senate. Receives well deserved amounts of hate.”</p>
                <p class="source space">source: no.</p>

            </h2>
                <div class="clear">&nbsp;</div>
           </div>
            <div class="clear">&nbsp;</div>
        </div>
    <!--- Technology -->
        <a class="anchor" id="technology"></a>
        <div class="technology">
            <h1>Technology</h1>
            <br>
            <div class="summary">/ˈsīəns/ - the intellectual and practical activity encompassing the systematic study of the structure and behavior of the physical and natural world through observation and experiment.</div>
            <div class="posts">
            <h2 style="#ccc">
                <br>
                <p>FCC votes in favor of the &quot;open internet&quot; by reclassifying the internet as a utility in groundbreaking vote. Net Neutrality lives on.</p>
                <p class="source ">source: yahoo</p>
                <p>Llamas run wild throughout an Arizona city. Eventually get caught after a 20 minute terror spree.</p>
                <p class="source ">source: yahoo</p>
                                <p>“Republic senator ___ ___ is quoted in saying “Women deserve to be treated lesser than men” in response to a recent women’s rights bill in the senate. Receives well deserved amounts of hate.”</p>
                <p class="source space">source: fucking me</p>

            </h2>
                <div class="clear">&nbsp;</div>
           </div>
            <div class="clear">&nbsp;</div>
        </div>

<div class="ads">

    </div>


    <!--- Science -->
        <a class="anchor" id="science"></a>
        <div class="science">
            <h1>Science</h1>
            <br>
            <div class="summary">/ˈsīəns/ - the intellectual and practical activity encompassing the systematic study of the structure and behavior of the physical and natural world through observation and experiment.</div>
            <div class="posts">
            <h2>
                <br>
                <p>FCC votes in favor of the &quot;open internet&quot; by reclassifying the internet as a utility in groundbreaking vote. Net Neutrality lives on.</p>
                <p class="source ">source: yahoo</p>
                <p>Llamas run wild throughout an Arizona city. Eventually get caught after a 20 minute terror spree.</p>
                <p class="source ">source: yahoo</p>
                                <p>“Republic senator ___ ___ is quoted in saying “Women deserve to be treated lesser than men” in response to a recent women’s rights bill in the senate. Receives well deserved amounts of hate.”</p>
                <p class="source space">source: fucking me</p>
            </h2>
                <div class="clear">&nbsp;</div>
           </div>
            <div class="clear">&nbsp;</div>
        </div>

        <!-- Culture -->
        <a class="anchor" id="culture"></a>
        <div class="culture">
            <h1>Culture</h1>
            <br>
            <div class="summary">/ˈkəlCHər/ - cultural activities or commercial products reflecting, suited to, or aimed at the tastes of the general masses of people.</div>
            <div class="posts" style="padding-top: 1.8%;">
            <h2>
                <br>
                <p>FCC votes in favor of the &quot;open internet&quot; by reclassifying the internet as a utility in groundbreaking vote. Net Neutrality lives on.</p>
                <p class="source">source: yahoo</p>
                <p>Llamas run wild throughout an Arizona city. Eventually get caught after a 20 minute terror spree.</p>
                <p class="source">source: yahoo</p>
                                <p>“Republic senator ___ ___ is quoted in saying “Women deserve to be treated lesser than men” in response to a recent women’s rights bill in the senate. Receives well deserved amounts of hate.”</p>
                <p class="source space">source: fucking me</p>

            </h2>
           </div>
        <div class="clear">&nbsp;</div>
        </div>

        <!-- Entertainment -->
        <a class="anchor" id="entertainment"></a>
        <div class="entertainment">
            <h1>Entertainment</h1>
            <br>
            <div class="summary">/ˌen-tər-ˈtān-mənt/ - The action of providing or being provided with amusement or enjoyment.</div>
            <div class="posts"style="padding-top: 1.8%;">
            <h2>
                <br>
                <p>FCC votes in favor of the &quot;open internet&quot; by reclassifying the internet as a utility in groundbreaking vote. Net Neutrality lives on.</p>
                <p class="source">source: yahoo</p>
                <p>Llamas run wild throughout an Arizona city. Eventually get caught after a 20 minute terror spree.</p>
                <p class="source">source: yahoo</p>
                                <p>“Republic senator ___ ___ is quoted in saying “Women deserve to be treated lesser than men” in response to a recent women’s rights bill in the senate. Receives well deserved amounts of hate.”</p>
                <p class="source space">source: fucking me</p>

            </h2>
           </div>
        <div class="clear">&nbsp;</div>
        </div>
    </div>

    </div>
            </div>
